$color-primary: #1f6fb5;//rgb(29, 77, 211);
$color-secondary: #fff;
$color-primary-light: #9dd3fa;

.map-nav {
  background-color: #fff;
  box-shadow: 0 0 0.05em #000;
  // padding: .4rem;
  border-radius: .4rem;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 .3rem #ccc;
}
